.App {
  align-items: center;
  background-color:var(--body_background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  color: rgb(255, 255, 255);
  
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  
}


  
  

.CommonThings {
  
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  background: linear-gradient(to right, #4731D3 70%, #CBF281 30%);
}

.Skills {
 
  background-color:var(--body_background);
  color: 
  #777777;
 


}

.Skills > p {
  font-size: 24px;
}

.Profile {
  background-color:#4731D3;
  
}

.Projects {
  background-color: #CBF281;
}

.Footer {
  background-color: rgb(253, 253, 252);
  

}
.dark-mode {
  background-color: #333; /* Koyu arkaplan rengi */
  color: #fff; /* Metin rengi */
  /* Diğer dark mode stilleri... */
}
