.for_light_theme {
    --primary-color:#302ae6;
    --secondary-color:#536390;
    --font-color:#424242;
    --bg-color:#fff;
    --heading-color:#292922;

}
  
.for_dark_theme{
    --primary-color:#9a97f3;
    ----secondary-color:#818cab;
    --font-color:#e1e1ff;
    --bg-color:#161625;
    --heading-color:#818cab;
}

.dark_mode {
    position: relative;
    width: 55px; /* Toggle butonun genişliği */
    position: fixed; /* Sabit pozisyon */
  top: 40px; /* Üstten 40px uzaklık */
  right: 10px; /* Sağdan 10px uzaklık */
  width: 55px; /* Toggle butonun genişliği */
  z-index: 1000; /* Diğer içeriklerin üstünde görünmesini sağlar 
  }
  
  .dark_mode_input {
    display: none; /* Checkbox'ı gizle */
  }
  
  .dark_mode_label {
    display: block;
    width: 55px; /* Toggle genişliği */
    height: 24px; /* Toggle yüksekliği */
    background-color: #ccc; /* Kapalı durum arka plan rengi */
    border-radius: 100px; /* Kenar yuvarlaklığı */
    position: absolute;
    left: 0; /* Sol pozisyon */
    transition: background-color 0.2s; /* Arka plan rengi geçiş efekti */
  }
  
  .dark_mode_input:checked + .dark_mode_label {
    background-color: #4CAF50; /* Açık durum arka plan rengi */
  }
  
  .dark_mode_label::after {
    content: "";
    display: block;
    width: 20px; /* Kaydırıcı genişliği */
    height: 20px; /* Kaydırıcı yüksekliği */
    background-color: white; /* Kaydırıcı rengi */
    border-radius: 50%; /* Kaydırıcı kenar yuvarlaklığı */
    position: absolute;
    left: 2px; /* Kaydırıcının sol pozisyonu */
    top: 2px; /* Kaydırıcının üst pozisyonu */
    transition: left 0.2s; /* Kaydırıcı pozisyon geçiş efekti */
  }
  
  .dark_mode_input:checked + .dark_mode_label::after {
    left: 33px; /* Kaydırıcı pozisyonu, toggle açıkken */
  }
  
 